body {
    font-family: Arial, Helvetica, sans-serif;
}


a {
	text-decoration: none;
}

ul, ol {
    list-style: none;
}

h1, h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
}

p {
    font-size: 20px;
    line-height: 25px;
}


.logo {
    width: 100px;
    height: 100px;
}

.call-to-action {
    text-align: center;
    margin-bottom: 80px;
}

.btn {
    margin-top: 20px;
    padding: 10px;
}

/* introducao */

.introducao {
    height: 950px;
    background: url("../img/index-bg.jpg") no-repeat center;
    background-size: cover;
}

.introducao header nav ul li {
    display: inline-block;
    padding: 40px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.introducao header nav ul li a {
    color: #FFF;
}

.introducao-logo {
    height: 650px;
}

.introducao-logo-img img {
    width: 500px;
    height: 500px;
}

.introducao-dicas {
    margin-top: 100px;
    text-align: center;
}

.introducao-dicas p {
    padding: 60px 0;
    font-style: italic;
}

.introducao-parques {
    height: 700px;
    background: url("../img/introducao-parques-bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 120px;
}

.introducao-parques h1 {
    color: #FFF;
    text-align: center;
}

.introducao-parques p {
    color:#FFF;
    text-align: center;
    margin-top: 40px;
}

.footer {
    height: 40px;
    text-align: center;
    justify-content: center;
    background-color: #222;
    width: 100%;
}

.footer small {
    padding-top: 10px;
    color: #FFF;
}

/* menu */

.menu nav ul {
    padding-top: 15px;
}

.interna-menu {
    background-color: #111;
    height: 140px;
}

.interna-menu img {
    margin-top: 20px;
}

.interna-menu header nav ul li {
    display: inline-block;
    padding: 40px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.interna-menu header nav ul li a {
    color: #FFF;
}

.menu-ativo {
    font-weight: bold;
}

/* Quem somos */

.quem-somos {
    margin-top: 80px;
}

.quem-somos-img {
    width: 300px;
    height: 300px;
    margin-left: 100px;
}

.quem-somos-integrantes {
    padding: 80px;
    background-color: #111;
    margin-top: 60px;
    color: #FFF;
}

.quem-somos-integrantes ul li {
    font-size: 20px;
    line-height: 25px;
}

/* parques */

.img-parques {
    width: 600px;
    height: 300px;
}