body {
    font-family: Arial, Helvetica, sans-serif;
}


a {
	text-decoration: none;
}

ul, ol {
    list-style: none;
}

h1, h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
}

p {
    font-size: 20px;
    line-height: 25px;
}


.logo {
    width: 100px;
    height: 100px;
}

.call-to-action {
    text-align: center;
    margin-bottom: 80px;
}

.btn {
    margin-top: 20px;
    padding: 10px;
}

/* introducao */

.introducao {
    height: 950px;
    background: url("../img/index-bg.jpg") no-repeat center;
    background-size: cover;
}

.introducao-logo {
    height: 650px;
}

.introducao-logo-img img {
    max-width: 100%;
    margin-top: 100px;
}

.introducao-dicas {
    margin-top: 100px;
    text-align: center;
}

.introducao-dicas p {
    padding: 60px 0;
    font-style: italic;
}

.introducao-parques {
    height: 700px;
    background: url("../img/introducao-parques-bg.jpg") no-repeat center;
    background-size: cover;
    padding-top: 120px;
}

.introducao-parques h1 {
    color: #FFF;
    text-align: center;
}

.introducao-parques p {
    color:#FFF;
    text-align: center;
    margin-top: 40px;
}

.footer {
    height: 40px;
    text-align: center;
    justify-content: center;
    background-color: #222;
    width: 100%;
}

.footer small {
    padding-top: 10px;
    color: #FFF;
}

/* Quem somos */

.missao {
    padding: 20px;
}

.quem-somos {
    padding: 120px 0;
}

.quem-somos-img {
    width: 300px;
    height: 300px;;
}

.quem-somos-integrantes {
    padding: 120px 0;
    background-color: #111;
    color: #FFF;
    text-align: left;
}

.quem-somos-integrantes h2 {
    margin-bottom: 20px;
}

.quem-somos-integrantes p {
    font-size: 20px;
    line-height: 25px;
}

/* parques */

.parques-urbanos {
    text-align: center;
    padding: 80px 0;
}

.parques-urbanos p {
    font-style: italic;
    margin-bottom: 60px;
}

.img-parques {
    max-width: 100%;
    height: 300px;
}

/* modal */

.modal-body iframe {
    max-width: 100%;
}

.modal-body ul li {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.modal-body p {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-lista ul {
    list-style: circle;
}

.modal-lista ul li {
    margin-bottom: 5px;
}

.figure-modal figcaption {
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
}

/* form */

.avaliacao-form {
    margin: 60px 0;
}


@media screen and (max-width: 787px) {
    .quem-somos-img {
        margin-left: 75px;
    }
}